@import './../../styles/mixins';
@import './../../styles/typography';
@import './../../styles/palette';

$header-left-margin-mobile: 15px;
$header-left-margin-tablet: 20px;
$header-left-margin-desktop: 30px;
$header-vertical-margin: 5px;

:host {
    display: flex;
    background-color: $vivid-blue;
}

h1 {
    margin-top: $header-vertical-margin;
    margin-bottom: $header-vertical-margin;
    margin-left: $header-left-margin-mobile;
    font-size: $regular-size;
    font-weight: $regular-weight;
    color: $white;
    text-shadow: 1px 1px 3px $dark-grey;

    @include tablet() {
        margin-left: $header-left-margin-tablet;
        font-size: $big-size;
        font-weight: $bold-weight;
        color: $white;
    }
    @include desktop() {
        margin-left: $header-left-margin-desktop;
        font-size: $big-size;
        font-weight: $bold-weight;
        color: $white;
    }
}
